.App {
    direction: rtl;
    text-align: right;
    font-family: 'Tajawal', sans-serif;
}


.main-banner {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: url('./assets/invest.jpg') center, #27AE60;
    background-size: cover;
}

.main-banner * {
    font-family: 'Tajawal', sans-serif;
}


